.outline{
    border:2px solid black;
    height:550px;
    width:500px;
    margin-left: 5px;
}
.bulb{
    border:1px solid;
   background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-dynamic-webapps/bulb-go-off-img.png);
   height:80px;
   width:50px;
   background-size:contain;
   margin-left: 45%;
   }

  .eye{
    border:1px solid;
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-dynamic-webapps/cat-eyes-img.png);
    height:80px;
    width:150px;
    background-size: cover;
    margin-left: 35%;
  } 
  .textarea{
    border:1px solid grey;
    height:120px;
    width:200px;
    margin-top: 40%;
    border-radius: 5px;
    margin-left: 30%;
  }
  .text{
    font-size: smaller;
     }